@font-face {
    font-family: 'Museo 100';
    src: url('fonts/museosansrounded-100-webfont.eot');
    src: url('fonts/museosansrounded-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-100-webfont.svg#fbg99uyyd6regular') format('svg'),
         url('fonts/museosansrounded-100-webfont.woff') format('woff'),
         url('fonts/museosansrounded-100-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 500';
    src: url('fonts/museosansrounded-500-webfont.eot');
    src: url('fonts/museosansrounded-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-500-webfont.svg#fbg99uyyd6regular') format('svg'),
         url('fonts/museosansrounded-500-webfont.woff') format('woff'),
         url('fonts/museosansrounded-500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 700';
    src: url('fonts/museosansrounded-700-webfont.eot');
    src: url('fonts/museosansrounded-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-700-webfont.svg#fbxbo6oqt4regular') format('svg'),
         url('fonts/museosansrounded-700-webfont.woff') format('woff'),
         url('fonts/museosansrounded-700-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 300';
    src: url('fonts/museosansrounded-300-webfont.eot');
    src: url('fonts/museosansrounded-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museosansrounded-300-webfont.svg#fblff9kzj3regular') format('svg'),
         url('fonts/museosansrounded-300-webfont.woff') format('woff'),
         url('fonts/museosansrounded-300-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}